.slide{ :style => "background-image: url(#{image_path(workshop_slide.main_image)})" }
  .overlay
    .overlay-details 
      .uSlash 
        %h1= workshop_slide.action_word 
      %h2= workshop_slide.subtitle
