%h2.centered Join NOW!
%br
%p.centered Experience a new way of knowledge exchange!
%p.centered And united we will celebrate skills!
%br
%p.centered We believe in people’s abilities, skills, and their affinity towards learning.
%p.centered We believe that knowledge is important.
%p.centered It gives everyone the opportunity to reach self-actualisation.
%p.centered Learning is the tool that help us reach our full potential.
%br
%p.centered
  Knowledge and Skills + your potential =
  %img{:src=>'/assets/common/uSlashDark.png', :style=>"height: 60px"}


