.row
  .col-sm-10.col-sm-offset-1
    .row.text-left
      .col-sm-4
        %h3.important-content REGISTER
        %ol.small-left-padding
          %li Log in through facebook or email 
          %li Set up your profile and include all your relevant background information
      .col-sm-4
        %h3.important-content FIND A SKILL 
        %ol.small-left-padding 
          %li Find a skill that you would like to learn 
          %li View details on the instructor and the offered skill 
          %li Book a ticket through u/skillity 
          %li Receive a conformation mail with the ticket and all relevant information
      .col-sm-4
        %h3.important-content TAKE PART & ENJOY
        %ol.small-left-padding 
          %li Taken part in the workshop, course or tutoring session 
          %li Learn, master and enjoy a new skill 
          %li Rate and review the instructor 
          %li Connect with new people
