%p What is one thing that keeps us evolving? 
%p That makes as interested in the world? 
%p That helps us understand who we are and what we want? 
%br 
%p It is the thing that we sometimes take for granted - education. 
%p And don't be scared we don't want you to feel like you are going back to school. 
%p Through u/skillity we are creating a broader connection to the community of people ready to share their skills and knowledge with you. In that way you will be able to learn what you are interested in, from inspirational people in just a short period of time. 
%br 
%p You will be able to find and book workshops that you like and that fit your expectation, time preference, price and location in no time. 
%br 
%p We are all about making your whole experience enjoyable so at the end the only thing left for you to do is to embrace the skill thought to you by one of the instructors and connect with new people that share your interest and help you evolve into a better u/.     
