.row
  .col-sm-10.col-sm-offset-1
    .row.text-left
      .col-sm-4
        %h3.important-content REGISTER
        %ol.small-left-padding
          %li Log in through facebook or email
          %li Set up your profile and include all your relevant background information
      .col-sm-4
        %h3.important-content SET UP YOUR SKILL
        %ol.small-left-padding 
          %li Determine the category and topic
          %li Include a picture, time and dates, number of participants, the price.  and the location
      .col-sm-4
        %h3.important-content SHARE YOUR SKILL 
        %ol.small-left-padding 
          %li Spend a great time teaching your skill
          %li Connect to new people 
          %li Get your money in 24h
          %li Get feedback and ratings from your participants
