%p u/skillity makes it super easy to set up your Workshop in just a couple of Minutes. Choose your topic, location, ticket price and number of participants. 
%p As soon your course is online, customers can purchase tickets. Those Tickets will be distributed by us, all you have to do is check your e-mail and you will know who and how many will participate. 
%p After you conducted your workshop, your earnings will be transferred to your account within 24h.
%br
%p With u/skillity you gain much more time to focus on more essential things like spending  time with someone worthy like your friends and family, or even learn a new skill yourself. 
%p But what you can also do is connect with u/skillity‘s community. Share tips, blogs or even video tutorials about your skill and engage into discussions with people interested in the same. 
%br
%p But what happens, if you do get sick or any other reason occurs and you’re not able to conduct your workshop? Well, don’t worry, we will take care of contacting your participants so no problems arise. That way everybody is happy and is looking forward to the next time you share your skills.
