#popup-header 
  %h1 Contact Us
#popup-content
  %strong u/skillity
  %br/
  1000 Some Fantastic Place
  %br/
  Berlin
  %br/
  +49 (123) 456-7890 (phone & text)
  %br/
  %a{:href => "mailto:mail@uskillity.de"} Contact Us
