#popup-header 
  %h1 Contact Us
#popup-content
  %strong u/skillity
  %br
  Nikolovska Becker UG
  %br
  Glasbläserallee 10
  %br
  10245 Berlin
  %br
  Telefon:        +49 (0) 170 966 47 25
  %br
  E-Mail: 
  %a{:href => "mailto:office@uskillity.de"} office@uskillity.de
