#popup-header 
  %h1 Want to connect, inspire, and embrace? 
#popup-content
  %p Do you remember, when your Grandmother showed you how to bake your favourite cake? Or how your father helped you fix your first flat tire? And all the tricks and experiences your mother taught you about life, and how to get along in it.
  %p Those lessons where valuable and important to you, and most of them you will never forget.
  %br
  %p We at u/skillity want to embrace this kind of teaching, so we set out to create a place where not only professional skills matter, but where you can go and offer what you are good at, because most experiences in live don’t come with a certificate, but they are at least as important as the ones you got from institutional education. 
  %p We believe that everybody has a unique skill, and we want you to join us and share yours with everyone. 
  %br
  %p But most of all we want to build a strong community together with you, so we can connect with people that are ready to make learning more accessible. 
  %p Let‘s share our mutual passion for knowledge exchange. 
  %p Let‘s all connect and celebrate our unique skills. 
