%section
  #header.mainpage
    #main-carousel.owl-carousel
      %div.slide.slide-1
        .overlay
          %h1 u/music
          %h2 learn how to play piano
      %div.slide.slide-2
        .overlay
          %h1 u/skate
          %h2 learn new skateboarding tricks
      %div.slide.slide-3
        .overlay
          %h1 u/write
          %h2 write your first novel
      %div.slide.slide-4
        .overlay
          %h1 u/bake
          %h2 surprise your friends with tasty cookies
.container
  .row.row-centered
    %section
      %h1.section-heading Browse our collection of workshops
      .row
        = render partial: 'workshops/workshop', collection: @workshops
  .row.row-centered
    %section
      %h1.section-heading Browse our categories
      .row
        = render partial: 'categories/category', collection: @categories
  .row
    %section
      %h1.section-heading The Product
      %h3 This is us.
      %h3 This is what we do.
      %h3 This is why it is important for you to join us.
      %h3 This is how we, together with you, are going to change the way we are learning.
  .row
    %section
      %h1.section-heading How it works
      %h2 share/learn
