%h1 Stripe giropay
%p thanks for using giropay, we'll email you the tickets, once we received the payment
%p You ordered #{@order.participations.count} tickets for workshop: #{@order.workshop_name} and authorized payment of #{@amount} EUR.
