// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-listing {
  height: 250px;
  margin-bottom: 20px;

  .listing-image {
    overflow: hidden;
    height: 100%;
    position: relative;
  }
  .listing-overlay {
    background-color: rgba(45,45,45,0.9);
    bottom: 30px;
    left: 0;
    color: white;
    position: absolute;
    padding: 6px 10px;
    .category-title {
      color: inherit;
      font-size: 20px;
    }
  }
}
