#navbar > ul > li > a > img {
  max-height: 30px;
  width: auto;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.media-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.media-photo {
  backface-visibility: hidden;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: #bbb;
}

img {
  vertical-align: middle;
  border: 0;
}
