html, body {
  height: 100%;
  margin: 0;
}


section {
    overflow-y: auto;
    overflow-x: hidden;
    &.primary{
      background-color: $u-primary-color;
      color: $u-sec-color-black;
    }
    &.lightgrey {
      background-color: $u-sec-color-lightgrey;
    }
    &.darkgrey {
      background-color: $u-sec-color-darkgrey;
    }
    &.white{
      background-color: $u-sec-color-white;
    }
}

a {
  h1, h2, h3 {
    font-family: $font-family-sans-serif;
  }
}

.brand-text {
  font-family: $font-family-serif;
  font-weight: 900;
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.media-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.media-photo {
  backface-visibility: hidden;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: #bbb;
}

img {
  vertical-align: middle;
  border: 0;
}

.navbar {
  margin-bottom: 0px;
  border: none;
  border-radius: 0;

  li {
    color: #000
  }
}

.overlay {
  h1, h2, h3 {
    color: inherit;
  }
}

.img-user {
  @extend .img-circle;
  vertical-align: middle;
  &.img-small {
    width: 30px;
    max-width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: white;
  }
  &.img-medium {
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-color: white;
  }
  &.img-large {
    width: 150px;
    height: 150px;
    border: 4px solid;
    border-color: white;
  }
}
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.icon-bar {
  display:block;
  width:22px;
  height:2px;
  border-radius:1px;
  border:1px solid $u-primary-color;
}

.row.attach-to-top{
  position: relative;
  top: -20px;
}
