$brand-primary: $u-primary-color;
$body-bg: $u-sec-color-white;

$font-family-sans-serif:  $u-font-sans-serif;
$font-family-serif:       $u-font-serif;

$headings-font-family:    $u-font-serif;
$headings-color:          $u-primary-color;
