#header.mainpage {
  height: 100%;
  min-height: 30em;
  margin-bottom: 4em;
}

#main-carousel {
  .slide {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.overlay {
  color: white;
  background-color: rgba(45, 45, 45, 0.7);
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.overlay-details {
  margin: 0 auto;
  color: rgba(255,255,255,0.7);

  .uSlash {
    background: url(/assets/common/uSlash.png) no-repeat left;
    display: inline-block;
    background-size: 150px;
    h1 {
      font-family: "Didot Bold";
      margin: 10px;
      font-size: 136px;
      margin-left: 150px;
      padding-bottom: 24px;
    }
  }


  h2 {
    margin: 10px;
    font-weight: 700;
    font-size: 60px;
    margin-left: 132px;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 1em;
}

.important-content {
  color: $u-sec-color-black;
  a {
    color: $u-primary-color;
  }
}

.wired-background{
  background: url("/assets/common/Background.png") no-repeat bottom;
}

.uskillity-logo {
  background: url("/assets/common/logo.png") no-repeat center;
  height: 190px;
}

.computer-image {
  background: url("/assets/common/devices.png")  no-repeat center;
  height: 431px;
  background-size: contain;
}


#offer-slide {
  display: none;
}
.switch-slide {
  min-height: 320px;
  margin-top: 24px;
  padding: 16px;
  text-align: justify;

  p {
    text-align: inherit;
  }
}

.center-align {
  width: initial;
  margin: 0 auto;
}

#switch-slides {
  .btn {
    color: $u-primary-color;
    font-weight: 400;
    font-size: 1.4em;
    width: 111px;
    margin: 10px;
    border-radius: 0px;
    border: 1px solid $u-primary-color;
    padding: 1px 14px;
  }

  .btn-default.active, .btn-default.active:hover, .btn-default.active:focus {
    background-color: $u-primary-color;
    color: $u-sec-color-white;
    border: 2px solid $u-primary-color;
  }
}

#mailinglist_registration_button {
  width: 100%;
  color: black;
  font-size: 18px;
}

.red-box {
  margin: 15px;
  padding-top: 18px;
}

li {
  .red-box {
    border: 1px solid $u-primary-color;
    height: 30px;
    padding: 0px 12px 4px 12px;
    margin: 15px 6px 6px 6px;
    width: 139.6px;
    text-align: center;
    a {
      color: black;
      line-height: 28px;
    }
    cursor: pointer;
  }

  .red-box:hover{
    background: $u-sec-color-lightgrey;
  }
}

.register { }

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.no-bottom {
  margin-bottom: 0px;
}

.small-left-padding {
  padding-left: 16px;
}
