// Place all the styles related to the Workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";
@import "bootstrap/mixins";

.workshop-listing {
  height: 250px;
  margin-bottom: 20px;

  .listing-image {
    overflow: hidden;
    height: 67%;
    position: relative;
    .img-responsive {
      max-width: initial;
    }
  }

  .listing-overlay {
    background-color: rgba(45,45,45,0.7);
    bottom: 30px;
    left: 0;
    color: white;
    position: absolute;
    padding: 6px 10px;

    .price-tag {
      font-size: 20px;
    }
  }

  .listing-body {
    position: relative;
    padding: 10px;
    height: 33%;
  }
  .listing-title {
    font-size: 16px;
    margin: 5px 0px 5px 0px;
  }
  .listing-user {
    position: relative;
    top: -65px;
    margin-bottom: -40px;
  }
}

.workshop-details-header {
  .workshop-title {
    padding: 20px 0px 0px 0px;
  }
  .workshop-subtitle {
    font-color: $gray;
  }
  margin-bottom: 30px;
}

.workshop-user-profile {
  img {
    min-width: 150px;
  }
  .user-details {
    padding-top: 20px;
  }
}
