.col-sm-6.col-md-4.col-xs-10.col-centered
  .category-listing
    .listing-image
      = link_to category, class: "media-cover media-photo" do
        .listing-image-container.media-cover.text-center
          = image_tag category.image, class: "img-responsive"
        .listing-overlay
          %h3.category-title= "u/" + category.name

