.col-sm-6.col-md-4.col-xs-10.col-centered
  .category-listing
    .listing-image
      = link_to category, class: "media-cover media-photo" do
        .listing-image-container.media-cover.text-center{:style => "background: url(#{category.image}) no-repeat center; background-size: cover;"}
        .listing-overlay
          .overlay-details 
            .uSlash 
              %h1= category.name 
