#header.categories{ :style => "background-image: url(#{@category.image})" }
  .overlay
    %h1.section-heading= @category.name
.container
  %section
    .row
      = render partial: 'workshops/workshop', collection: @workshops
