%p
  Willkommen #{@email},
%br
%p u/skillity, ist eine Plattform zum Austausch von Wissen und Können.
%br
%p Wir danken dir für dein Interesse.
%p Wir sind noch dabei u/skillity zu entwickeln.
%p Sobald wir damit fertig sind werden wir dich benachrichtigen, damit du ein Tiel der Bewegung werden kannst.
%br
%p Vis dahin wünschen wir dir eine wundervolle Zeit.
%br
%p Mit freundlichen Grüßen
%p Irina & Shawn
