%p
  Welcome #{@email},
%br
%p u/skillity, is a platform for exchanging skills and knowledge.
%br
%p We thank you for your interest.
%p We are still in the process of developing u/skillity,
%p As soon as u/skillity is ready to go we will notify you, so that you can become part of the movement.
%br
%p Until then  we wish you a wonderful time.
%br
%p Lets celebrate Skills.
%br
%p Yours,
%p Irina & Shawn
