%footer.navbar-default
  .container
    .row.bottom-rule
      .col-sm-3.footer-section.centered
        %strong Connect with u/skillity
        %p.centered Stay on top of the new developments 
        = button_to "Subscribe", new_user_mailinglist_registration_path, :id => 'mailinglist_registration_button', :method => 'get'
 
      .col-sm-6.footer-section
        %ul.list-inline
          %li.text-uppercase Categories:
          - @categories.each do |c|
            %li
              = link_to c.name, c
        %ul.list-inline
          %li.text-uppercase Social Media &amp; Articles:
          %li
            %a{:href => "#"} Instagram
          %li
            %a{:href => "#"} Pinterest
          %li
            %a{:href => "#"} Twitter
          %li
            %a{:href => "#"} Facebook
          -#%li
            -#%a{:href => "#"} The Best Journal
        %ul.list-inline
          %li.text-uppercase Events:
          %li
            %a{:href => "#"} Hangout April 30
          %li
            %a{:href => "#"} Makers Faire
      .col-sm-3
        %address
          %strong u/skillity
          %br/
          1000 Some Fantastic Place
          %br/
          Berlin
          %br/
          +49 (123) 456-7890 (phone &amp; text)
          %br/
          %a{:href => "mailto:mail@uskillity.de"} Contact Us
 
    .row.bottom-rule
      .col-sm-12
        %nav.navbar.navbar-default.navbar-footer
          %ul.nav.navbar-nav
            %li
              %a{:href => "mailto:mail@uskillity.de"} Contact
            %li
              %a{:href => "#"} Workshops
            %li
              %a{:href => "/workshops"} Workshops
            -#%li
              -#%a{:href => "#"} About Best Store
    .row.leg-room
      .col-md-12.text-center
        ©2016 u/skillity
        %span.text-uppercase All Rights Reserved
    / end row
