%footer.navbar-default
  .container
    .row.bottom-rule
      .col-sm-4.footer-section.centered
        %strong Connect with u/skillity
        %p.centered Stay on top of the new developments
        -#= button_to "Subscribe", new_user_mailinglist_registration_path, :id => 'mailinglist_registration_button', :method => 'get'

      .col-sm-8.footer-section
        %ul.list-inline
          %li.text-uppercase Categories:
          - @categories.each do |c|
            %li
              = link_to c.name, c
        %ul.list-inline
          %li.text-uppercase Social Media &amp; Articles:
          %li
            %a{:href => "#"} Instagram
          %li
            %a{:href => "#"} Pinterest
          %li
            %a{:href => "#"} Twitter
          %li
            %a{:href => "#"} Facebook
          -#%li
            -#%a{:href => "#"} The Best Journal
        %ul.list-inline
          %li.text-uppercase Events:
          %li
            %a{:href => "#"} Hangout April 30
          %li
            %a{:href => "#"} Makers Faire

    .row.bottom-rule
      .col-sm-12.navbar-footer
        .col-xs-6
          = link_to "Contact", "", :id => 'contact_modal_viewer'
        .col-xs-6
          = link_to "Imprint", "", :id => 'imprint_modal_viewer'
        -#.col-xs-4
          -#%a{:href => ""} Workshops
    .row.leg-room
      .col-md-12.text-center
        ©2016 u/skillity
        %span.text-uppercase All Rights Reserved
    / end row
